
*{
	font-family: arial;
}
.invoice_container{
	padding: 10px 10px;
}
.invoice_header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #fef4b1;
}
.logo_container{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.company_address{
	margin-right: 10px;
}
.invoice_header h2{
	margin-bottom: 0;
}
.invoice_header p{
	margin-top: 10px;
}

.customer_container{
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
}
.customer_container h2{
	margin-bottom: 10px;
}
.customer_container h4{
	margin-bottom: 10px;
	margin-top: 0;
}
.customer_container p{
	margin: 0;
}
.in_details{
	margin-top: auto;
	margin-bottom: auto;
}
.product_container{
    text-align: center;
	margin-top: 10px;
    
    /* border: 2px solid black; */
    
}
.item_table{
    border: 2px solid black;
	width: 100%;
    text-align: center;
}
.item_table td,th{
    justify-content: space-evenly;
    border: 1px solid black;
	padding: 5px 10px;
    
}
.invoice_footer{
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
}
.invoice_footer h2{
	margin-bottom: 10px;
}
.note{
	width: 50%;
}
.invoice_footer_amount{
	margin: auto 0;
	background: #fef4b1;
}
.amount_table td,th{
	padding: 5px 10px;
}
.in_head{
    margin: 0;
    text-align: center;
    background: #fef4b1;
    padding: 5px;
}
.centeredButton{
    background-color: goldenrod;
    margin: 10px 30px;
    color: white;
	display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}


.il img{
    width: 160px;
    height: 140px;
	margin-left: 20px;
}

@media print {
    .printPageButton {
      display: none;
    }
}