.aa{
    /* height: 500px; */
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #f0f0f0;
    padding: 10px;
    transition: right 0.3s ease;
    overflow: auto;
}

.aaa{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.ac,.ad,.ae,.af{
    border:1px solid black;
    border-spacing: 30px;
    padding: 10px 10px;
 }

.aa.open {
    left: 0;
  }

.ab{
    
    background-color: aqua;
    display: block;
    margin-top: 10px;
 
}
.tol{
    font-size: 15px;
    font-weight: bolder;
}
.tl{
    font-size: 20px;
    text-align: end;
    font-weight: bold;
    margin-right: 10px;
}
.in{
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 0px 10px 0px 0px ;
    color: #f0f0f0;
}
.in button{
    font-size: 20px;
    background-color: royalblue;
}
